* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./image/word.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo{
    font-family: cursive;
    color: black;
    margin-top: 20px;
    margin-left: 25px;

    /* text-shadow: 3px 0 3px purple ; */
}

span{
    color:purple;
    font-size: 30px;
    text-shadow: 3px 0 3px white ;
    letter-spacing: 3px;
}

.logo h1{
    /* text-align: center; */
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    transform: translateY(0);
    transition: 1s;
}

.logo h1:hover{
    transform: translateY(10px);
}

.gmail {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

select {
    display: inline-block;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 4px;
}

.gmail option {
    padding: 14px 32px; 
}

/* option {
    font-size: 18px;
} */

section {
    display: block;
}

#setup {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    background: black;
    color: white;
     margin-left: 500px;
    margin-right: 500px;  
    height: 60vh;
    width: 30vw; 
}

#setup h1{
    font-size: 40px;
    margin: auto;
    text-transform: uppercase;
}


#setup input {
    margin: 15px 0 15px 0;
    padding: 16px;
    width: 70%;
    border-radius: 10px;
}

.btn {
    padding: 10px 15px;
    color: black;
    background: white;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.1s;
    display: inline-block;
    align-items: flex-start;
    text-align: center;
}




